#root {
	padding: 0;
    margin: auto;
    display: block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#CANVAS {
    border: solid #A5C9D1;
}
#start-button {
	background-color: #006700;
	color: #00ca00;
	padding: 2px;
    margin: auto;
    display: block;
	text-align: center;
	border: solid;
	border-width: 5px;
	font-size: 24px;
    width: 200px;
    height: 54px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	cursor: pointer;
}
#controls-text {
	background-color: #670000;
	color: #ca0000;
	padding: 10px;
    margin: auto;
    display: block;
	border: solid;
	border-width: 5px;
	font-size: 24px;
    width: 800px;
    position: absolute;
	top: 10px;
    left: 0;
    right: 0;
}

body {
	background-color: #cfe2f3;
}
