:root {
    --canvas-height: 250px;
}

#root {
    padding: 10px;
    display: block;
    width: fit-content;
    min-width: 100vw;
    height: fit-content;
    min-height: 100vh;
}

#canvas {
    border: solid #A5C9D1;
    height: var(--canvas-height);
}

#canvasWrapper {
    width: 100%;
}

#canvasSpacer {
    height: calc(250px - var(--canvas-height));
    margin: 0;
}

#inputWrapper {
    width: 100%;
    display: flex;
}

#inputWrapper>* {
    margin-right: 10px;
}

#mainInput div {
    margin-top: 10px;
}

#mainInput input[type="text"] {
    width: 95%;
}

#handButtons {
    width: 600px;
    text-align: center;
}

#handButtons .tileButtons {
    display: inline-block;
    margin: 0;
    width: 60px;
    height: 80px;
}

#handButtons .callButtons {
    display: inline-block;
    margin: 0;
    width: 150px;
    height: 69px;
}

#handButtons .ponButtons,
#rightDiv .ponButtons {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 200.5px;
    height: 80.75px;
}

#handButtons .kanButtons,
#rightDiv .kanButtons {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 260px;
    height: 120px;
}

#handButtons :is(.tileButtons, .callButtons):hover,
#rightDiv :is(.ponButtons, .kanButtons, img):hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#handButtons :is(.tileButtons, .callButtons):active,
#rightDiv :is(.ponButtons, .kanButtons, img):active {
    filter: brightness(0.8);
}

#callsWrapper {
    margin: 0;
    width: 100%;
}

#callsBackWrapper {
    position: relative;
    width: 100%;
    height: 54px;
    margin: 0;
}

#callsBackWrapper img {
    position: absolute;
    left: 10px;
}

#inputWrapper #rightDiv {
    flex-grow: 1;
}

body {
    background-color: #cfe2f3;
}