#root {
    padding: 10px;
    display: block;
    width: fit-content;
    height: fit-content;
}

#canvas {
    border: solid #A5C9D1;
}

#canvasWrapper {
    width: 100%;
}

#inputWrapper {
    width: 100%;
    display: flex;
}

#inputWrapper * {
    margin-right: 10px;
}

#mainInput div {
    margin-top: 10px;
}

#mainInput input[type="text"] {
    width: 95%;
}

#handButtons {
    width: 600px;
    text-align: center;
}

#handButtons .tileButtons {
    display: inline-block;
    margin: 0;
    width: 60px;
    height: 80px;
}

#handButtons .callButtons {
    display: inline-block;
    margin: 0;
    width: 150px;
    height: 69px;
}

#handButtons :is(.tileButtons, .callButtons, img):hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#handButtons :is(.tileButtons, .callButtons, img):active {
    filter: brightness(0.8);
}

#callsWrapper {
    margin:0;
    width: 100%;
}

#callsWrapper #callsBackWrapper {
    width:100%;
    height: 54px;
    margin: 0;
}

#callsBackWrapper img {
    position: absolute;
    left: 10px;
}

#helpText {
    flex-grow: 1;
}

body {
	background-color: #cfe2f3;
}
